@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test Razor</title>

</head>

<body>

    <p>
        <strong>
            1. Dichiarare una variabile valorizzandola con il nostro nome.
            Dichiarare un'altra variabile valorizzandola con il nostro cognome.
            Stampare il nostro nome e cognome all'interno di un tag h2.
        </strong>
    </p>

    @{
        string nome = "Katia";
        string cognome = "Losignore";
    }

    <h2>@nome @cognome</h2>
    
    <hr />

    <p>
        <strong>
            2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
            Stampare dentro uno span il risultato.
        </strong>
    </p>

    @{
        int Somma(int n)
        {
            int somma = 0;

            for (int i = 1; i <= n; i++)
            {
                somma += i;
            }

            return somma;
        }
    }

    <span>La somma dei numeri è: @Somma(10)</span>
    
    <hr />

    <p>
        <strong>
            Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina.
        </strong>
    </p>

    @{
        string frase = "nel mezzo del cammin di nostra vita";
        char lettera = 'a';

        int ContaLettere(string testo, char lettera)
        {
            int count = 0;

            foreach(char carattere in testo) 
            {
                if (carattere == lettera)
                {
                    count++;
                }
            }

            return count;
        }
    }

    <p>Nella frase "@frase" , la lettera "@lettera" è presente: @ContaLettere(frase, lettera) volte.</p>

    <hr />


</body>